[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pykeepass = "==4.0.0"
strictyaml = "==1.4.4"
xdg = "==5.0.2"

[dev-packages]
pex = "==2.1.40"
pykeepass-cache = "==2.0.3"
sphinx-rtd-theme = "==0.5.2"

[requires]
python_version = "3.9"
